* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    outline: none !important;
}

.AccountHome {
    background-color: #F0F2F5;
}

.AccountHome header {
    background-color: white;
}

.HeaderItems {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 100%;
    background-color: #EEE;
}

.HeaderItems:hover {
    background-color: #d7d7d7;
}

.SectionHome {
    height: 91%;
}

.SectionHome > div {
    border: 1px solid;
}

.createPost {
    height: 130px;
}

.createPost > div:last-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}